.header-wrapper {
  position: relative;
  z-index: 9;

  [data-overlay] [class^="col-"],
  [data-overlay] [class*="col-"] {
    z-index: auto;
  }

  .container.position-relative {
    z-index: 2;
  }
  
}


.main-menu {
  a {
    font-size: 14px;
    color: $title-color;
    font-family: $title-font;
    font-weight: 400;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
      position: relative;
      margin-top: 0;
      margin-bottom: 0;

      &.menu-item-has-children {
        >a {
          position: relative;

          &:after {
            content: '\f107';
            position: relative;
            font-family: $icon-font;
            float: right;
            font-weight: 700;
            margin-left: 5px;
            font-size: 1rem;
          }
        }
      }

      a {
        display: block;
      }

      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0;
      }

      ul.sub-menu {
        position: absolute;
        min-width: 200px;
        width: max-content;
        top: 100%;
        left: 0;
        z-index: 12;
        padding-top: 3px;
        text-align: left;
        background-color: $white-color;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        z-index: 9;
        transform: translateY(20px);
        transition: all .3s ease-in;
        padding: 15px 0;
        
        li {
          display: block;
          margin: 0 0;
          padding: 0 25px;

          &.menu-item-has-children {
            >a:after {
              content: "\f105";
            }
          }

          a {
            display: block;
            line-height: 34px;

            &:hover {
              color: $theme-color;
            }
          }

          ul {
            left: auto;
            right: 100%;
            top: 0;

            li {
              ul {
                left: 100%;
                right: auto;
              }
            }
          }
        }
      }

      &.mega-menu-wrap {
        position: static;
      }

      ul.mega-menu {
        display: flex;
        justify-content: space-between;
        position: absolute;
        text-align: left;
        left: 15px;
        top: 100%;
        width: calc(100% - 30px);
        background: rgba(255, 255, 255, 0.98);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 15px;
        margin-top: 20px;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: margin-top 0.2s ease-in-out 0s, visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s, z-index 0s;

        li {
          display: block;
          width: 100%;
          margin: 10px 0;
          padding: 0 25px;

          li {
            padding: 0 0;
          }

          a {
            padding: 0 0;
            margin: 0 0;
            display: inline-block;

            &:hover {
              color: $theme-color;
            }
          }
        }

        >li {
          &:not(:last-child) {
            border-right: 1px solid #dddddd;
          }

          >a {
            display: block;
            border-bottom: 1px solid;
            padding: 0;
            padding-bottom: 10px;
            margin-bottom: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            color: $theme-color2;
            border-color: $theme-color2;
          }

        }


      }

      &:hover {
        ul.mega-menu {
          visibility: visible;
          opacity: 1;
          margin-top: 0;
          z-index: 9;
        }


        >ul.sub-menu {
          opacity: 1;
          visibility: visible;
          margin-top: 0;
          transform: translateY(0);
        }
      }

    }
  }
}







@include ml {
  .main-menu {
    a {
      font-size: 14px;
    }
  }
}


@include lg {

  .main-menu {
    ul {
      li {
        ul.sub-menu {
          width: 220px;
        }
      }
    }
  }
}

@include ml {
  .header-layout2 {
    
    &.mt-30 {
      margin-top: 0;
    }
  }
}

@include lg {
  .header-layout2 {
    &.position-absolute {
      position: static !important;

      .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}