.footer-widget {
  padding: 0;
  border: none;
  padding-bottom: 0;
  background-color: transparent;

  .widget_title {
    margin-bottom: 30px;
    &:not([class*=font-]) {
      font-family: $title-font;
    }
  }

  &.widget_meta,
  &.widget_pages,
  &.widget_archive,
  &.widget_categories,
  &.widget_nav_menu {
    margin-bottom: 3px;
    padding-bottom: 0;

    li {
      >span {
        @include equal-size(auto);
        position: relative;
        background-color: transparent;
        color: $body-color;
        line-height: 1;
      }
    }
    
    a {
      background-color: transparent;
      padding: 0;
      position: relative;
      margin-bottom: 20px;
      display: inline-block;

      &:hover {
        background-color: transparent;
      }

      &:before {
        content: '\f30b';
        font-family: $icon-font;
        margin-right: 10px;
        font-weight: 300;
        opacity: 0.50;
      }
    }

  }

}


.custom-links {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}