.vs-blog-layout2 {
  .vs-blog {
    position: relative;
  }

  .overlay {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-image: linear-gradient(to top, rgba($color: #2f0162, $alpha: 0.80) 0%, rgba(255,255,255,0) 100%);
    z-index: 1;
  }

  .blog-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    z-index: 1;
  }
}


@include xs {
  .vs-blog-layout2 {
    .blog-content {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}