.blog-title.text-white {
  a {
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 2px;
      width: 0;
      background-image: $gradient;
      transition: all ease 0.4s;
    }

    &:hover {
      color: inherit;

      &::before {
        width: 100%;
      }
    }
  }
}


blockquote {
  font-size: 18px;
  line-height: 28px;
  padding: 25px 30px;
  padding-left: 30px;
  display: block;
  position: relative;
  background-color: $white-color;
  overflow: hidden;
  margin: 30px 0;
  color: $title-color;
  font-family: $body-font;
  font-style: italic;
  font-weight: 500;
  
  p {
    font-family: inherit;
    margin-bottom: 0 !important;
    line-height: 1.5;
    color: inherit;
    padding-left: 30px;
    position: relative;
    margin-bottom: 0;
    z-index: 1;

    a {
      color: inherit;
    }
    

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      bottom: 5px;
      width: 2px;
      background-color: $theme-color2;
    }

    &:after {
      content: '\f10d';
      position: absolute;
      right: 0;
      bottom: -2px;
      font-family: $icon-font;
      font-weight: 300;
      font-size: 3rem;
      z-index: 1;
      line-height: 1;
      font-style: normal;
      color: #e8e8e8;
      z-index: -1;
    }
  }

  *:not(:after)> {
    position: relative;
    z-index: 1;
  }
}




.blog-meta {
  &[class*=text] {
    a {
      color: inherit;
    }
  }
  
  a {
    display: inline-block;
    margin-right: 15px;
    font-weight: 500;

    &:last-child {
      margin-right: 0;
    }

    i {
      margin-right: 5px;
    }
  }
}


.blog-category {
  margin-bottom: -10px;
  a {
    display: inline-block;
    color: $white-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 6px 16px;
    margin-right: 5px;
    margin-bottom: 10px;
    line-height: 1;
    font-family: $theme-font3;
    background-color: transparent;
    background-image: $gradient;

    &:hover {
      color: $white-color;
    }
  }
}


.vs-blog {
  margin-bottom: 30px;

  .blog-title {
    a:not(:hover) {
      color: inherit;
    }

    &.h5 {
      letter-spacing: -0.03em;
    }
  }

  .has-drop-cap:first-letter {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    padding: 20px 24px;
  }

  .blog-image {
    position: relative;
    .blog-category {
      position: absolute;
      top: 18px;
      right: 18px;
    }
  }
}


.multibg-color-cat {
  .blog-category {
    a {
      padding: 5px 11px;
      background-image: none;
    }
  }

  .vs-blog {
    &:nth-child(11n-1) {
      .blog-category {
        a {
          background-color: #f07707;
        }
      }
    }


    &:nth-child(2n-1) {
      .blog-category {
        a {
          background-color: #34ba5e;
        }
      }
    }
    &:nth-child(3n-1) {
      .blog-category {
        a {
          background-color: #f07707;
        }
      }
    }
    &:nth-child(4n-1) {
      .blog-category {
        a {
          background-color: #bd3eff;
        }
      }
    }
    &:nth-child(13n-1) {
      .blog-category {
        a {
          background-color: #34ba5e;
        }
      }
    }
    &:nth-child(5n-1) {
      .blog-category {
        a {
          background-color: #007bff;
        }
      }
    }
    &:nth-child(7n-1) {
      .blog-category {
        a {
          background-color: #34ba5e;
        }
      }
    }


  }
}


.blog-social-links,
.blog-share-links {
  border-top: 1px solid rgba($color: #7c7e90, $alpha: 0.15);
  padding-top: 30px;
  margin-top: 30px;
}



@include md  {

  blockquote {
    font-size: 18px;
    line-height: 34px;
    padding: 15px 20px;
    margin: 20px 0;

    p {
      padding-left: 20px;

      &:after {
        font-size: 3rem;
      }
    }
  }

}

@include xs {
  blockquote {
    padding-left: 0px;
  }
}