.google-map {
  height: 500px;
  width: 100%;
}

.form-dark {
  .form-control {
    background-color: #1a1d24;
    padding-left: 57px;
    border: none;
    color: $white-color;
  }
  textarea.form-control {
    padding-top: 20px;
  }
  label {
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 1;
    display: block;
  }
  i {
    color: $theme-color;
    right: auto;
    top: 52px;
    left: 40px;
  }
}

.contact-form-style1 {
  border: 2px solid #2b2e37;
}

.info-box2 {
  background-color: #1a1d24;
}

.info-box3 {
  min-width: 570px;
}

.schedule-table {
  td {
    border: none;
  }
  tr {
    border-bottom: 1px dashed #dfdfe0;

    &:last-child {
      border-bottom: none;
    }
  }
}

.info-style1 {
  padding-left: 80px;
  position: relative;
  padding-top: 10px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  .icon-btn2 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}




@include lg {
  .info-box2,
  .contact-form-style1 {
    &.px-60 {
      padding-left: 30px;
      padding-right: 30px;
    }

    &.py-60 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}


@include md {
  .contact-form-style1 {
    &.px-80 {
      padding-left: 40px;
      padding-right: 40px;
    }
    &.py-80 {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

@include sm {
  .google-map {
    height: 300px;
  }
  .info-box3 {
    min-width: auto;
    &.position-absolute {
      margin-top: 30px;
      position: relative !important;
    }
    &.px-40 {
      padding-left: 15px;
      padding-right: 15px;
    }
    &.py-40 {
      padding-top: 10px;
      padding-bottom: 15px;
    }
  }
}

@include xs {
  .contact-form-style1 {
    &.px-80 {
      padding-left: 10px;
      padding-right: 10px;
    }
    &.py-80 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .info-box2,
  .contact-form-style1 {
    &.px-60 {
      padding-left: 20px;
      padding-right: 20px;
    }

    &.py-60 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .info-style1 {
    padding-left: 0;
    padding-top: 0;

    .icon-btn2 {
      position: relative;
      transform: none;
      margin-bottom: 15px;
    }
  }
}