.cart-btn-group {
  .vs-btn {
    width: auto;
    height: auto;
    text-transform: capitalize;
    text-transform: none;
    color: $white-color;
    background-image: $gradient;
    min-width: 150px;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    border-radius: 150px;
    margin: 0 7px;
  }
}

.vs-product-layout2 {
  .product-content {
    padding: 15px 30px 25px 30px;
  }
  .product-img {
    position: relative;
  }
  .cart-btn-group {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    z-index: 3;
    text-align: center;
    transform: translateY(-50%);
    transition: all ease 0.4s;
    opacity: 0;
    visibility: hidden;

    .icon-btn3 {
      position: relative;
      transition: all ease 0.4s;

      &:first-child {
        right: 20px;
      }

      &:last-child {
        left: 20px;
      }
      
    }
  }

  .vs-product {
    background-color: $smoke-color;
    margin-bottom: 30px;
    box-shadow: none;
    transition: all ease 0.4s;

    &:hover {
      box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
      background-color: $white-color;


      .cart-btn-group {
        top: 50%;
        opacity: 1;
        visibility: visible;

        .icon-btn3 {
          &:first-child {
            right: 0;
          }

          &:last-child {
            left: 0;
          }
        }        
      }    
    }
  }
}


.sort-btn {
  select {
    flex: 1;
    max-width: 280px;
    margin-right: 20px;
  }

  .icon-btn3 {
    background-image: $gradient;
    i {
      border-radius: 0;
      font-size: 18px;
      background-image: none;
      background-color: $white-color;
      border: 1px solid #f0f0f0;
      border-right: none;
      color: $title-color;
    }
    
    
    &:last-child {
      i {
        border-right: 1px solid #f0f0f0;
      }
    }

    &.active,
    &:hover {
      i {
        background-color: transparent;
        color: $white-color;
        border-color: transparent;
      }
    }
  }
}


.latest-product-v1 {
  .post {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}



@include lg {
  .vs-product-layout2 {
    .product-content {
      padding: 15px 20px 15px 20px;
    }
    
  }

  .cart-btn-group {
    .vs-btn {
      min-width: 115px;
    }
  }
}