.testimonial-layout2 {
  .vs-testimonial {
    position: relative;
    text-align: center;
    background-color: #1c1d22;
    box-shadow: 0px 10px 28.5px 1.5px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding: 0 40px;
    padding-top: 50px;
    padding-bottom: 55px;
    transform: scale(0.85);
    transition: all ease 0.4s;
  }

  .slick-center {
    .vs-testimonial {
      transform: scale(1);
    }
  }

  .testi-text {
    max-width: 845px;
    margin-left: auto;
    margin-right: auto;
  }

  .author-img {
    @include equal-size(60px);
    
    img {
      border-radius: 50%;
    }
  }

  .quote {
    line-height: 1;
    right: 60px;
    bottom: 60px;
  }
}


@media (max-width: 1600px) {
  .testimonial-layout2 {
    .vs-testimonial {
      transform: scale(1);
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}


@include lg {
  .testimonial-layout2 {
    .vs-testimonial {
      padding: 20px 30px;
    }

    .quote {
      right: 30px;
      bottom: 30px;
      max-width: 100px;
    }

    .testi-text {
      &.mb-35 {
        margin-bottom: 20px;
      }
    }
  }
}


@include xs {
  .testimonial-layout2 {
    .vs-testimonial {
      padding: 20px 15px;
    }

    .quote {
      right: 15px;
      bottom: 15px;
      max-width: 80px;
    }

    .testi-text {
      &.mb-35 {
        margin-bottom: 20px;
      }
    }
  }
}