.timetable-style1 {
  margin-top: -160px;
  margin-right: -55px;
  display: inline-block;
  transform: rotate(-45deg);
  
  .timetable-box {
    @include equal-size(180px);
    text-align: center;
    position: relative;
    padding: 30px 0;
    border-radius: 15px;
    z-index: 2;
    margin-bottom: .5rem;
    background-color: #090c11;
    border: 3px solid #000000;
    transition: all ease 0.3s;
    
    &:before, 
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: transparent;
      border-radius: inherit;
      background-image: $gradient;
      opacity: 0;
      visibility: hidden;
      transition: all ease 0.4s;
    }
    
    &:after {
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      z-index: -2;
      background-image: linear-gradient(to left, rgba($theme-color2-opacity, 0.6) 0%, $theme-color 100%);
    }

    &.active,
    &:hover {
      border-color: transparent;
      
      &::before,
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .name,
  .time {
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    color: $white-color;
    line-height: 1;
    text-transform: uppercase;
  }

  .name {
    bottom: 16px;
    top: auto;
  }

  .day {
    font-size: 18px;
    font-weight: 700;
    color: $white-color;
    text-transform: uppercase;
    font-family: $title-font;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    
  }
  
}


@include lg {
  .timetable-style1 {
    margin: 0;
    transform: none;    
  }

  .vs-timetable-layout1 {    
    .container.pb-35 {
      margin-bottom: -10px;
      padding-bottom: 0;
    }
  }
}


@include md {
  .timetable-style1 {
    width: 100%;

    .timetable-box {
      width: 100%;
      max-width: auto;
      height: 180px;
      flex: 0 0 1;
    }
  }
}

@include sm {
  .timetable-style1 {
    .timetable-box {
      width: 49%;
      flex: 0 0 49%
    }

    .d-flex {
      flex-wrap: wrap;
    }
  }
}

@include xs {
  .timetable-style1 {
    .timetable-box {
      width: 100%;
      flex: 0 0 100%
    }
  }
}