html {
	scroll-behavior: auto !important;
}

::-webkit-scrollbar-track {
	background-color: $smoke-color;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: $smoke-color;
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to bottom, $theme-color2 0%, $theme-color 100%);
}


body {
	font-family: $body-font;
	font-size: $body-font-size;
	font-weight: $body-font-weight;
	color: $body-color;
	line-height: $body-line-Height;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

iframe {
	border: none;
	width: 100%;
}

.slick-slide:focus,
button:focus,
a:focus,
a:active,
input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
	outline: none;
}


input:focus {
	outline: none;
	box-shadow: none;
}

img:not([draggable]),
embed,
object,
video {
	max-width: 100%;
	height: auto;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}


table {
	margin: 0 0 1.5em;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0
}

th {
	font-weight: 500;
}

td,
th {
	border-top: 1px solid $border-color;
	padding: 9px;
}


a {
	color: $theme-color;
	text-decoration: none;
	outline: 0;
	transition: all ease 0.4s;

	&:hover {
		color: $theme-color2;
	}
}

a:active,
a:focus,
a:hover,
a:visited {
	text-decoration: none;
	outline: 0;
}


button {
	transition: all ease 0.4s;
}

img {
	border: none;
	max-width: 100%;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
span a {
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
}

p {
	margin: 0 0 15px 0;
	color: $body-color;
	line-height: $p-line-Height;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
	font-family: $title-font;
	color: $title-color;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.3;
	margin: 0 0 15px 0;
}

.h1,
h1 {
	font-size: 48px;
}

.h2,
h2 {
	font-size: 36px;
}

.h3,
h3 {
	font-size: 30px;
}

.h4,
h4 {
	font-size: 24px;
}

.h5,
h5 {
	font-size: 18px;
}

.h6,
h6 {
	font-size: 16px;
}


@include lg {

	.h3, 
	h3 {
		font-size: 26px;
	}
	
	.h4, 
	h4 {
		font-size: 22px;
	}
}


@include md {
	.h1, 
	h1 {
		font-size: 42px;
	}
	
	.h2, 
	h2 {
		font-size: 38px;
	}
	
	.h3, 
	h3 {
		font-size: 24px;
	}
	
	.h4, 
	h4 {
		font-size: 20px;
	}
}


@include sm {
	
	.h1, 
	h1 {
		font-size: 36px;
	}
	
	.h2, 
	h2 {
		font-size: 28px;
	}
	
	.h3, 
	h3 {
		font-size: 22px;
	}
}

