/*-- margin Left And Right --*/
@for $i from 1 through $space-count {
  .mx-#{5 * $i} {
    margin-right: 5px *$i;
    margin-left: 5px *$i;
  }
}

/*-- margin Top And Bottom --*/
@for $i from 1 through $space-count {
  .my-#{5 * $i} {
    margin-top: 5px *$i;
    margin-bottom: 5px *$i;
  }
}

/*-- margin Top --*/
@for $i from 1 through $space-count {
  .mt-#{5 * $i} {
    margin-top: 5px *$i;
  }
}

/*-- margin Bottom --*/
@for $i from 1 through $space-count {
  .mb-#{5 * $i} {
    margin-bottom: 5px *$i;
  }
}

/*-- margin Left --*/
@for $i from 1 through $space-count {
  .ml-#{5 * $i} {
    margin-left: 5px *$i;
  }
}

/*-- margin Right --*/
@for $i from 1 through $space-count {
  .mr-#{5 * $i} {
    margin-right: 5px *$i;
  }
}

@media (min-width: $md) {
  .mt-lg-30 {
    margin-top: 30px;
  }
  .ml-lg-30 {
    margin-left: 30px;
  }
}

.mt-n1 {
  margin-top: -.25rem;
}

.mt-n2 {
  margin-top: -.5rem;
}

.mt-n3 {
  margin-top: -1rem;
}

.mt-n4 {
  margin-top: -1.5rem;
}

.mt-n5{
  margin-top: -3rem;
}


@media (min-width:$md) {

  .mt-md-n1 {
    margin-top: -.25rem;
  }

  .mt-md-n2 {
    margin-top: -.5rem;
  }

  .mt-md-n3 {
    margin-top: -1rem;
  }

  .mt-md-n4 {
    margin-top: -1.5rem;
  }

  .mt-md-n5 {
    margin-top: -3rem;
  }

  
}