.section-title {
  margin-bottom: 50px;
  position: relative;

}

// Section Title
.sec-title1 {
  font-size: 72px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: -0.13em;
  margin-bottom: 5px;
  letter-spacing: -0.03em;
}

@media (min-width: $lg) {
  .sec-title2 {
    font-size: 45px;
    letter-spacing: -0.03em;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  .sec-title3 {
    font-size: 60px;
    margin-top: -0.3em;
  }
}

// Sub title 
.sub-title1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1;
  position: relative;
  top: -0.4em;
  display: inline-block;
  margin-bottom: 15px;
  color: $theme-color;
}

.sub-title2 {
  background-image: linear-gradient(to left, $theme-color 30%, $theme-color2 100%);
  display: inline-block;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  padding: 2px 23px;
  margin-bottom: 10px;
}


.has-title-rotate {
  padding-left: 30px;
  margin-bottom: 45px;
  border-left: 32px solid transparent;

  .sec-title1 {
    line-height: 1.17;
    margin-top: -0.23em;
    margin-bottom: 5px;
  }
}


.title-rotate {
  font-size: 14px;
  font-weight: 700;
  color: $white-color;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  padding: 3px 15px;
  text-align: center;
  letter-spacing: 0.17em;
  position: absolute;
  left: 0%;
  top: 10%;
  background-color: transparent;
  transform: rotate(-270deg);
  transform-origin: 0 0;
  background-image: linear-gradient(to top, $theme-color2 0, $theme-color 100%);

  .letter {
    display: inline-block;
    transform: rotateY(-180deg) rotateX(180deg);
  }
}


@include lg {
  .sec-title1 {
    font-size: 56px;
  }

  .title-rotate {
    font-size: 12px;
    padding: 3px 9px;
  }

}

@include md {
  .sec-title1 {
    font-size: 42px;
  }

  .title-rotate {
    transform: rotateY(-180deg) rotateX(180deg);
    transform-origin: 50% 50%;
    position: relative;
    margin-bottom: 20px;
  }

  .has-title-rotate {
    padding-left: 0;
    margin-bottom: 45px;
    border-left: 0 solid transparent;
  }

  .sub-title2 {
    &.mb-30 {
      margin-bottom: 20px;
    }
  }
}


@include sm {
  .sec-title1 {
    font-size: 28px;
  }

  .sub-title2 {
    padding: 2px 18px;
    letter-spacing: 0;
  }
}